<ul>
    <ng-container *ngFor="let schema of ($schemas | async)?.data">

        
        <li (click)="goToListItems(schema)" >
            <header>
                <h2>
                    {{ schema.display }}
                </h2>
            </header>
            <section>
                <span>
                    <strong> Collection: </strong>
                    {{ schema.collection }}
                </span>
                <span>
                    <strong> Id: </strong>
                    {{ schema.id }}
                </span>
            </section>
        </li>



        <mat-card class="example-card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
              <p>This card indeterminates progress bar.</p>
              <p> {{ schema.collection }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>


    </ng-container>
</ul>
