<div class="container">
  <header class="mt-3">
    <section>
      <h1>Módulo de entidades</h1>
      <p class="my-3">
        Estas son las entidades configuradas para el modulo "Entidades"
      </p>
    </section>
    <section>
        <figure>
            <img src="../../assets/module/module-icon.png" alt="">
        </figure>
    </section>
  </header>

  <div class="row d-flex">
    <ng-container *ngFor="let schema of ($schemas | async)?.data">
      <div class="col-lg-3 col-md-3 align-items-center flex-column">
        <mat-card
          (click)="goToListItems(schema)"
          class="schema-card border-1 align-self-center align-items-center"
        >
          <mat-card-title class="text-primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon">{{
              schema.presentation.icon
            }}</mat-icon>
            {{ schema.display }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ schema.collection }}
          </mat-card-subtitle>

          <mat-card-actions>
            <button
              mat-stroked-button
              color="primary"
              (click)="goToListItems(schema)"
            >
              Ver Listado
            </button>

            <button
            mat-stroked-button
            color="primary"
            (click)="goToDetail(schema)"
          >
            Ver esquema
          </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
